html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body::before {
    content: "";
    background-image: url('../imagenes/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    z-index: -1;
}

.center {
    margin: 0 auto;
    margin-top: 120px;
    width: 50%;
}

.button-container {
    text-align: center;
    margin-top: 120px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

/* CSS */
.indexHeader {
    background-image: url('../imagenes/cabecera.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top; /* Centra la imagen de fondo */
    height: 24vh; 
    width: auto; 
    margin: 0 auto;}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: 'Arial', sans-serif;
    color: white;
}

.center {
    margin: auto;
    width: 50%;
    padding: 15px;
    animation: mymove 5s infinite;
}

.center th, .center td {
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    color: #f1c40f;
    animation: colorchange 5s infinite;
    font-size: 30px; /* Ajusta el tamaño de la fuente */
}

@keyframes mymove {
    50% {transform: scale(1.05);}
}

@keyframes colorchange {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}

/* Estilos para el título */
.title {
    text-align: center;
    font-size: 30px;
    /*animation: colorchange 5s infinite;*/
}

#rosco {
    display: flex;
    justify-content: center;
    position: relative;
}

#playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw; /* Tamaño de fuente responsivo */
    padding: 1vw; /* Espacio interior alrededor del texto responsivo */
    background-color: #1b7ad3; /* Color de fondo azul */
    color: white; /* Color de texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano al pasar el ratón */
    animation: zoom 2s infinite;
}

#playButton:hover {
    background-color: #4136e0; /* Color de fondo más oscuro al pasar el ratón */
}
@keyframes zoom {
    0% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.1); }
    100% { transform: translate(-50%, -50%) scale(1); }
}

#respuestaDiv {
    margin-top: 1%;
    text-align: center;
}

#respuestaDiv input {
    font-size: 24px; 
}

#musicButton {
    position: absolute; 
    top: 220px; 
    right: 30%;
    z-index: 1000; /* Cualquier número grande para asegurarte de que esté encima de los demás elementos */

}

#errorCounter {
    font-size: 2vw; 
}

#loginBox {
    position: absolute; 
    right: 0; 
    top: 24vh; /* Ajusta esto al tamaño de tu cabecera */
    width: 15vw; /* Anchura reducida */
    min-width: 150px; /* Anchura mínima */
    padding: 2vh; 
    background-color: #f8f8f8; 
    border: 1px solid #ccc;
    color: #333; /* Color de texto oscuro */
}