<!DOCTYPE html>
<html>
<head>
    <!-- Tus scripts y estilos aquí -->
</head>
<body>
    <div id="user-info" style="display: none;">
        <img id="user-photo" src="" alt="Foto del usuario">
        <p id="user-name"></p>
        <button id="edit-profile">Editar perfil</button>
    </div>
    <table>
        <tr>
            <th>Username</th>
            <th>Aciertos</th>
        </tr>
        <tr >
            <td ></td>
            <td ></td>
        </tr>
    </table>
    <button id="play-button">Jugar</button>
</body>
</html>