<!DOCTYPE html>
<html>
<head>
    <!-- Tus scripts y estilos aquí -->
</head>
<body>
    <div id="login-box">
        <form id="login-form">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Iniciar sesión">
        </form>
        <div id="user-info" style="display: none;">
            <img id="user-photo" src="" alt="Foto del usuario">
            <p id="user-name"></p>
        </div>
    </div>
    <table>
        <tr>
            <th>Username</th>
            <th>Aciertos</th>
        </tr>

    </table>
    <button id="play-button">Jugar</button>
</body>
</html>