<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="indexHeader"></div>
    <br><br>
    <div class="title">
        <BOLD>MEJORES PUNTUACIONES</BOLD>
    </div>
    
    <div class="center">
        <table class="center">
            <tr>
                <th>Nombre</th>
                <th>Puntuación</th>
            </tr>
            <tr th:each="score : ${topScores}">
                <td th:text="${score.username}"></td>
                <td th:text="${score.score}"></td>
            </tr>
        </table>
    </div>

    <div class="button-container">
        <a href="/jugar" class="button">Jugar</a>
    </div>


</body>
</html>