<!DOCTYPE html>
<html>
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="indexHeader"></div>
    <br><br>

    <!-- HTML -->
    <div id="rosco">
        <canvas id="canvas_id" width="800" height="600"></canvas>
        <button id="playButton">Empezar!</button>
    </div>
    <div id="respuestaDiv">
        <input type="text" id="respuestaInput" placeholder="Ingresa tu respuesta aquí">
    </div>

        <!-- Vinculación del archivo JavaScript -->
    <script src="/js/jugar.js"></script>
</body>
</html>
