<!DOCTYPE html>
<html>
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="indexHeader"></div>
    <br>
    <!-- HTML -->
    <button id="musicButton" onclick="toggleMusic()"><i class="fas fa-volume-mute"></i></button>
    <div id="rosco">
        <canvas id="canvas_id" width="800" height="600"></canvas>
        <button id="playButton">Empezar!</button>
    </div>
    <div id="loginBox">
        <h2>Login</h2>
        <form action="/login" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
        <p>Or <a href="/register">register</a> if you don't have an account.</p>
    </div>
    <div id="respuestaDiv">
        <input type="text" id="respuestaInput" placeholder="Ingresa tu respuesta aquí">
    </div>

        <!-- Vinculación del archivo JavaScript -->
    <script src="/js/jugar.js"></script>
</body>
</html>
